* {
    margin: 0;
    padding: 0;
}
body {
    background-color:palevioletred;
}
.item {
    width: 370px;
    height: 100px;
    background-color: pink;
    color: black;
    margin: 10px;
}
.conteudo {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

}

.barra {
    background-color: rgb(52, 2, 52);
    height: 25vh;
}
.lado {
    background-color: rgb(110, 11, 110);
    height: 25vh;
}
.principal {
    background-color: rgb(157, 32, 157);
    height: 25vh;
}
.rodape {
    background-color: rgb(214, 71, 214);
    height: 25vh;
}
.meu-site {

}