@import 'menu.css';
 
body{
    background-color: white;
    color: aliceblue;
}

.conteudo{
    width: 100%;
}

.rodape{
    width: 100%;
    text-align: center;
    background: beige;
    color: aliceblue;
}


img.mobile{
    width: 100%;
}

@media screen and (min-width:768px) {
    .menu{
        height: 149px;
        background-color: aqua;
    }
    .conteudo-home{
        display: flex;
        padding: 10px;
    }
}

@media screen and (min-width:768px) {
    .menu{
        height: 149px;
        background-color: rgb(0, 187, 187);
    }

}
