* {
    margin: 0;
    padding: 0;
}
body {
    background-color:palevioletred;
}
.item {
    width: 370px;
    height: 100px;
    background-color: pink;
    color: black;
    margin: 10px;
}
.conteudo {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

}

.barra {
    background-color: rgb(52, 2, 52);
    height: 20vh;
    grid-area: barra;
}
.lado {
    background-color: rgb(110, 11, 110);
    height: 80vh;
    grid-area: lado;
}
.principal {
    background-color: rgb(157, 32, 157);
    height: 60vh;
    grid-area: principal;
}
.rodape {
    background-color: rgb(214, 71, 214);
    height: 20vh;
    grid-area: rodape;
}
.meu-site {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: 
                    "barra barra"
                    "lado principal"
                    "lado rodape";

}